<header class="navbar navbar-expand-md d-none d-lg-flex d-print-none">
    <div class="container-xl">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-nav flex-row order-md-last">
            <div class="nav-item dropdown">
                @if (User.Identity.IsAuthenticated)
                {
                    @await Html.PartialAsync("_LoginPartial")
                }
                else
                {
                    <div class="nav-item d-flex me-3">
                        <div class="btn-list">
                            <a asp-area="" asp-controller="Auth" asp-action="Register" class="btn btn-5">
                                Crie sua conta
                            </a>
                            <a asp-area="" asp-controller="Auth" asp-action="Login" class="btn btn-6">
                                <i class="ti ti-login"></i>
                                Login
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbar-menu">
        </div>
    </div>
</header>