﻿@if (ViewBag.Title?.Length > 0)
{
    <div class="row g-2 align-items-center py-3">
        <div class="col">
            <h2 class="page-title text-white">@ViewBag.Title</h2>
        </div>
    </div>
}