@model List<SocialNode.Mvc.ViewModels.UserViewModel>

@{
    ViewData["Title"] = "Amigos";
}

<h2>Amigos</h2>

@if (!Model.Any())
{
    <p>Este usuário ainda não possui amigos.</p>
}
else
{
    <ul class="list-group">
        @foreach (var friend in Model)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                @friend.FullName
                <a asp-action="Friends" asp-route-id="@friend.Id" class="btn btn-sm btn-outline-info">Ver amigos</a>
            </li>
        }
    </ul>
}
